<!-- This page is a display of all the subjects someone can make disappear, as well as a link to make your own creations. (For the sake of a visual option, I think I'm going to just do a bunch of pictures for someone to choose something to make.) -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs', {title: `The Magic Show!`}) %>
    <link rel="stylesheet" href="/styles/magicshow.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="content">
    <section class="hero">
        <p class="title">Welcome to the Magic Show!</p>
        <p class="subtitle">Here you can make things appear and disappear before your very eyes!<p><br>
        <a href="magicshow/creation">Check out over here if you want to make your own creation!</a>
    </section>

    <main>
        <section class="subjects container">
            <ul class="victims columns is-multiline">
                <% for (let subject of subjects) { %>
                    <div class="column is-one-third">
                        <li>
                            <figure class="victim card">
                                <img src="<%= subject.image %>" class="image">
                                <figcaption class="card-content">
                                    <h4><%= subject.name %> the <%= subject.species %></h4>
                                    <form method="POST" action="magicshow/magic/<%=subject._id%>?_method=DELETE"><input class="btn button is-danger" type="submit" value="Make Disappear" /></form>
                                </figcaption>
                            </figure>
                        </li>
                    </div>
                <% } %>
            </ul>
            
        </section>
    </main>
    </div>


</body>


</html>