<!-- This is the view the user will see when they are editing an entry in the guestbook -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs', {title: `Sign the Guestbook`}) %>
        <!-- <link rel="stylesheet" href="*"> -->
    </head>

    <body>
        <%- include('../partials/nav.ejs') %>
        <div class="content">
        <section class="topofpage">
            <p class="is-size-3">Edit the entry!</p>
            <p class="is-size-5">Let's make some adjustments to this entry, shall we?</p><br>
        </section>

        <form method="POST" action="/guestbook/<%= entry._id %>?_method=PUT">
<!-- Name -->
            <div class="field">
                <label class="label" for="name">Name:</label>
                <input class="input" type="text" id="name" name="name" value="<%=entry.name %>" required>
            </div>
<!-- Title of entry -->
            <div class="field">
                <label class="label" for="entryTitle">Title of Entry:</label>
                <input class="input" type="text" id="entry-title" name="entryTitle" value="<%=entry.entryTitle %>" required>
            </div>
<!-- Did you have fun? (Yes/No). This one will actually have a choice.-->
            <div class="field">
                <label class="label" for="haveFun">Did you have fun?</label>
                    <div class="control">
                        <div class="select">
                            <select id="haveFun" name="haveFun">
                            <optgroup label="Please select:">
                                <option value="No">No</option>
                                <option value="Yes">Yes</option>
                            </optgroup>
                            </select>
                        </div>
                    </div>
            </div>
<!-- Tell us about your experience -->
            <div class="field">
                <label for="description">Tell us about your experience!</label>
                <div class="control">
                    <textarea class="textarea" type="text" id="description" name="description"><%= entry.description %></textarea>
                </div>
                <input class="button is-link" type="submit" value="Submit">
            </div>
        </form>
        </div>
    </body>
</html>