<!-- This view is to see specific entries in the guestbook. It's recommended because it's a RESTful route. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${entry.name}'s entry`}) %>
    <link rel="stylesheet" href="/styles/entry-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
<!-- The Entry Details view will show Name and Title, as well as whether or not they had fun, the description of the review,  and the date the review was added. -->
    <div class="content">
    <div class="entryblock">
        <p><%= entry.entryTitle %></p>
        <p>by <strong><%= entry.name %></strong> on <%= entry.dateAdded.toLocaleDateString("en-US") %></p>
        <p><strong>Did you have fun?</strong><i> <%= entry.haveFun %></i> </p>
        <p><%= entry.description %> </p>
    </div>
    <section class="adminblock">
        <button class="btn"><a href="/guestbook/<%= entry._id %>/edit">Edit</a></button>
        <form method="POST" action="/guestbook/<%= entry._id %>?_method=DELETE"><input class="btn" type="submit" value="Delete" /></form>
    </section>
    <br>
    <a href="/guestbook/">Back to the Guestbook</a>
    </div>

</body>

</html>